@import "src/styles/common";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 45px;

  .title {
    font-weight: 300;
    font-size: 70px;
    line-height: 80px;
    margin: 24px 0 30px;
    text-align: center;
  }

  .description {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: $color-gray;
    margin-bottom: 20px;
    text-align: center;
  }

  .card {
    width: 40%;
  }

  .createButton {
    position: fixed;
    right: 45px;
    bottom: 34px;
  }
}